@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  /* primary */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --Very-dark-blue: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-color: var(--Very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Soft-blue);
}

p {
  font-size: 1.1rem;
}

.card {
  background: var(--Very-dark-blue-card);
  height: 34.1rem;
  width: 20.6rem;
  border-radius: 1rem;
  padding: 1.6rem;
}

.img__container {
  position: relative;
}

.diamond__img {
  height: 17.75rem;
  width: 17.43rem;
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem;
}

/* HOVER STYLES */

.img__container:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.middle {
  height: 17.75rem;
  width: 17.43rem;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(178, 100%, 50%, 0.3);
  border-radius: 0.5rem;
}

.title {
  color: var(--White);
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

.title:hover,
.creator__name:hover {
  cursor: pointer;
  color: var(--Cyan);
}

.text {
  margin: 1rem 0;
  font-size: 1.1rem;
}

.nft__dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.ethereum,
.remaining__days {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.ethereum {
  color: var(--Cyan);
  font-weight: 600;
}

.remaining__days {
  font-size: 1rem;
}

.line {
  width: 100%;
  height: 0.05rem;
  background: var(--Very-dark-blue-line);
}

.creator {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.avatar__img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 0.06rem solid var(--White);
}

.avatar__img:hover {
  background: hsla(178, 100%, 50%, 0.5);
}

.creator__name {
  color: var(--White);
}

@media only screen and (min-width: 768px) {
  .card {
    height: 37.37rem;
    width: 22rem;
  }
  .diamond__img {
    height: 19.25rem;
    width: 19rem;
  }
  .middle {
    height: 19.25rem;
    width: 19rem;
  }
  .line {
    margin: 1.5rem 0;
  }
}
